:root {
  --main-color: #6484b3;
  --border-color: #2f3e53;
  --background-color: #dceaff;
  --text-color: #222;
}

@font-face {
  font-family: Alegreya;
  src: url('../Alegreya.ttf') format("truetype");
  font-style: normal;
  font-display: swap;
}

html {
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 18px;
  line-height: 1.4;
  font-family: Alegreya, Serif, serif;
  -webkit-text-size-adjust: 100%; /* 2 */
}


body {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

ul {
  padding-left: 28px;
  margin-top: 6px;
}

li {
  margin: 6px 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img,
svg,
video {
  vertical-align: middle;
}


.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}


.center-container {
  display: flex;
  justify-content: center;
}

.main-face {
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  clip-path: circle();
  background-color: var(--main-color);
  max-width: 340px;
  object-position: 3px 50px;
  background: radial-gradient(circle, var(--main-color) 30%, var(--border-color) 100%);
}

h1 {
  font-size: 2.25rem;
  font-weight: normal;
  font-variation-settings: 'wght' 625;
  margin: 0;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  font-variation-settings: 'wght' 450;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-variation-settings: 'wght' 450;
  margin: 70px 0 16px;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
  font-variation-settings: 'wght' 500;
  margin: 25px 0 0 0;
}

h3 + p {
  margin-top: 6px;
}

@font-face {
  font-family: "Alegreya";
  src: url("../Alegreya.ttf") format("truetype");
}

.reset-button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
}

.button {
  font-family: Alegreya, Serif, serif;
  color: #020202;
  font-size: 1rem;
  font-weight: inherit;
  line-height: inherit;
  padding: 10px 20px;
  background: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  filter: brightness(120%);
}

.button:active {
  filter: brightness(140%);
}

.-small {
  padding: 4px 11px;
  font-size: 1rem;
  height: 40px;
}

.icon-button {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 76%;
  width: 40px;
  height: 40px;
  padding: 4px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.menu-button {
  background-image: url('../img/icons/menu.svg');
}

.close-button {
  background-image: url('../img/icons/cross.svg');
  border: none;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.25rem;
  font-variation-settings: 'wght' 500;
  margin: 60px 0;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu a:hover {
  color: var(--main-color);
}

@media only screen and (min-width: 1000px) {
  .menu-inline {
    flex-direction: row;
    gap: 65px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0s 0.2s;
}

.modal-header {
  display: flex;
  justify-content: end;
  margin: 10px 20px;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}


.modal.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s;
}

.highlight-block {
  border: 3px solid var(--border-color);
  padding: 20px 36px;
  max-width: 450px;
  text-align: center;
  margin: 30px auto;
  font-size: 1.1rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: var(--background-color);
  box-shadow: 0px -10px 15px 3px var(--border-color)
}

.navbar.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  font-size: 0.9rem;
}

.navbar-buttons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.navbar-title {
  font-size: 1.25rem;
  line-height: 25px;
  font-variation-settings: 'wght' 500;
}

.contacts {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15vw;
  justify-items: center;
}

.contact-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.contact-link img {
  width: 30vw;
  height: 30vw;
  max-width: 200px;
  max-height: 200px;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-color);
  margin-top: 100px;
  padding-top: 20px;
  color: #3d3d3d;
  font-size: 0.8rem;
}


@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

